.button {
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 15px 23px;
  background-color: @bg-color-button;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @white;
  text-align: center;

  &:hover {
    border-color: @bg-color-button--hover;
    background-color: @bg-color-button--hover;
  }

  &:active {
    color: fade(@white, 30%);
    border-color: @bg-color-button--active;
    background-color: @bg-color-button--active;
  }

  &:focus {
    border-color: @bg-color-button--hover;
    outline: 0;
  }

  &:disabled {
    border-color: @bg-color-button--disabled;
    background-color: @bg-color-button--disabled;
  }
}
