.features-list {
  .list-reset(0);

  padding-right: 0;
  background-color: @bg-color-map;
  text-align: center;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 19px;
    justify-content: space-between;
  }
}

.features-list__item {
  padding: 26px 26px 24px 26px;
  border-bottom: 1px solid @border-color-item;


  @media @tablet {
    max-width: 189px;
    border-bottom: none;
    padding: 26px 26px 24px 26px;
  }

  @media @desktop {
    padding-bottom: 62px;
    max-width: 315px;
  }

  &:last-child {
    border-bottom-color: transparent;
  }
}

.features__text {
  @media @tablet {
    padding-left: 0;
    padding-right: 0;
  }
}
