.map {
  position: relative;
  min-height: 350px;
  background-color: @white;
  background-image: url("../img/map-mobile.jpg");
  background-position: center;
  background-size: 320px 350px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.map__marker {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 27px;
  height: 27px;
  transform: translate(-50%, -50%);
  background-image: url("../img/map-marker.svg");
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
