.page-main__header {
  padding: 36px 6px 16px 8px;
  text-align: center;

  @media @tablet {
    padding: 50px 0 14px;
  }

  &--form {
    padding: 36px 6px 16px 8px;
  }

  &--catalog {
    padding: 32px 9px 20px 12px;
  }

  &--video {
    padding: 32px 28px 33px 28px;

    @media @tablet {
      margin: 0 auto;
      max-width: 450px;
      font-size: 21px;
    }
  }
}

.page-main__title {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
}

.page-main__text {
  margin: 27px auto 0;
  line-height: 24px;
  font-size: 14px;

  &--index {
    line-height: 26px;
  }
}

.page-main__photo-gallery {
  margin: 0 auto;
  width: 320px;
}

.page-main__video-gallery {
  margin: 0 auto;
  padding-bottom: 105px;
}
