.page-footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;
  line-height: 26px;
}

.page-footer__subtitle {
  font-size: 21px;
  font-weight: 700;
  color: @black;
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 13px;
}

.page-footer__copyright-link {
  width: 27px;
  height: 34px;
}

.page-footer__copyright-link:active .page-footer__copyright-icon {
  fill-opacity: 0.3;
}
